.home {
	min-height: 100vh;
	text-align: center;
	background-image: linear-gradient(to left top, #2c73d2, #3e8de0, #58a7eb, #78c0f5, #9bd8fe);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 0 20px;
}

.home h2 {
	word-break: keep-all;
}

.create-room-button {
	border: none;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #1553BC;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.section-join-chat {
	padding-top: 30px;
}

.section-join-chat h2, 
.section-join-chat h3, 
.section-join-chat h4 {
	margin: 0; 
}


.room-list {
	margin-top: 10px;
}

.room-length {
	font-size: 20px;
}

.chat-room-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chat-room-list button{
	background: white;
	color: cornflowerblue;
	padding: 7px;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}